#Hero{
    background-color: #BD4444;
}
.heroImg{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
button a{
    color: #000 !important;
    text-decoration: none;
}
p{
    text-align: justify;
}