#Explanation{
    background-color: #1F6F78;
}
.boardGame{
    border-radius: 30% 70% 70% 30% / 30% 51% 49% 70% ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box{
    background-color: #D4AF37;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px , rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 15px;
    border-bottom: 5px solid #0F172A;
    border-top: 5px solid #0F172A;

}