/* Fonts */
@font-face {
  font-family: lalezar;
  src: url("./assets/font/LALEZAR.TTF");
}

@font-face {
  font-family: estedad;
  src: url("./assets/font/ESTEDAD-MEDIUM.TTF");
}

.lalezar{
  font-family: lalezar;
  color: #F8F5E9;
}
.estedad{
  font-family: estedad;
  color: #F8F5E9;
}