#Purchase{
    background-color: #677E61;
}
.qoute{
    background-color: #F1DEC4;
    border-right: 4px solid #0F172A;
    border-left: 4px solid #0F172A;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.qoute h6{
    color: #BD4444 !important;
}
.board-Game{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}